<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.anenene3.wanteditemapp.mapper.UserMapper">

    <select id="findByLoginInfo" parameterType="io.github.anenene3.wanteditemapp.dto.LoginForm"
            resultType="io.github.anenene3.wanteditemapp.dto.User">
        SELECT
            user_id,
            user_name,
            login_id,
            password
        FROM users
        WHERE login_id = #{loginId}
          AND password = #{password}
    </select>
    
    <insert id="insert" parameterType="io.github.anenene3.wanteditemapp.dto.UserForm">
    	INSERT INTO users (
    		user_name, 
    		login_id, 
    		password
    	)
    	VALUES (
    		#{userName}, 
    		#{loginId}, 
    		#{password}
    	);
	</insert>
</mapper>