<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.anenene3.wanteditemapp.mapper.UserMapper">

    <insert id="insert" parameterType="io.github.anenene3.wanteditemapp.dto.UserForm">
    	INSERT INTO users (
    		user_name, 
    		login_id, 
    		password
    	)
    	VALUES (
    		#{userName}, 
    		#{loginId}, 
    		#{password}
    	);
	</insert>
	
	<select id="findByLoginId" parameterType="java.lang.String"
			resultType="io.github.anenene3.wanteditemapp.dto.User">
		SELECT
            user_id,
            user_name,
            login_id,
            password
        FROM users
        WHERE login_id = #{loginId}
	</select>
	
	<select id="findById" parameterType="long"
			resultType="io.github.anenene3.wanteditemapp.dto.User">
		SELECT
            user_id,
            user_name,
            login_id,
            password
        FROM users
        WHERE user_id = #{userId}
	</select>
	
	<update id="updateUserNameOnly" parameterType="io.github.anenene3.wanteditemapp.dto.AccountUpdateForm" >
		UPDATE users
		SET
			user_name = #{userName}
		WHERE
			user_id = #{userId}
	</update>
	
	<update id="updateWithPassword" parameterType="io.github.anenene3.wanteditemapp.dto.AccountUpdateForm" >
		UPDATE users
		SET
			user_name = #{userName},
			password = #{password}
		WHERE
			user_id = #{userId}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM users
		WHERE user_id = #{userId}
	</delete>
</mapper>