:root {
  color: #333;
  background-color: #fff;
}

body {
  margin: 0;
  background-color: #f6f8fb;
}

body,
button,
input,
textarea,
select {
  font-family: "Yu Gothic", "Helvetica Neue", Arial, sans-serif;
}

#root {
  min-height: 100vh;
}