<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.anenene3.wanteditemapp.mapper.ItemMapper">

    <select id="findAll" resultType="io.github.anenene3.wanteditemapp.dto.Item">
        SELECT
            item_id,
            user_id,
            image_path,
            item_name,
            price,
            description,
            created_at,
            updated_at
        FROM items
    </select>

	<select id="findById" resultType="io.github.anenene3.wanteditemapp.dto.Item">
	    SELECT
	        item_id,
	        user_id,
	        image_path,
	        item_name,
	        price,
	        description,
	        created_at,
	        updated_at
	    FROM items
	    WHERE item_id = #{itemId}
	</select>
	
	<insert id="insert" parameterType="io.github.anenene3.wanteditemapp.dto.ItemForm">
	    INSERT INTO items (
	        user_id,
	        image_path,
	        item_name,
	        price,
	        description,
	        created_at,
	        updated_at
	    )
	    VALUES (
	        #{userId},
	        #{imagePath},
	        #{itemName},
	        #{price},
	        #{description},
	        CURRENT_TIMESTAMP,
	        CURRENT_TIMESTAMP
	    )
	</insert>
	
	<update id="update" parameterType="io.github.anenene3.wanteditemapp.dto.ItemForm">
	    UPDATE items
	    SET
	        image_path = #{imagePath},
	        item_name = #{itemName},
	        price = #{price},
	        description = #{description},
	        updated_at = CURRENT_TIMESTAMP
	    WHERE item_id = #{itemId}
	</update>
</mapper>